@use '../abstracts/colors' as *;
@use '../base/reset';
@media screen  and (max-width:319px) {
    

    header{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .nav{
            display: none;

        }
        .checkstatus--right{
            display: none;
        }
        .icon_align--right{
            font-size: 2rem;
            background-color: $color_icon_right;
            border-radius:10px ;
            padding: 7px 8px 8px 7px;
            display: none;
        
        }
        .home_icon--left{
            top: 50px;
            text-decoration: none;
            position: relative;
            font-size: 1.6rem;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            color: $color_white;
            height: 21px;
            width: 200px;
            flex-shrink: 0;
            font-style: normal;
        }
        .home_icon--left::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 31px;
            width: 80px;
            height:  3px;
            background-color: $color_menu_item_left;
            border-radius: 1px;

        }
    }
}
@media screen and (min-width:320px) and (max-width:430px){
    header{
        position: relative;
        .nav{
            display: none;

        }
        .checkstatus--right{
            display: none;
        }
        .icon_align--right{
            position: absolute;
            top: 57px;
            right: 43px; 
            font-size: 2rem;
            background-color: $color_icon_right;
            border-radius:10px ;
            padding: 7px 8px 8px 7px;
        
        }
        .home_icon--left{
            text-decoration: none;
            position: relative;
            top: 56px;
            left: 35px;
            font-size: 1.1rem;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            color: $color_white;
            height: 21px;
            width: 200px;
            flex-shrink: 0;
            font-style: normal;
        }
        .home_icon--left::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 31px;
            width: 80px;
            height:  3px;
            background-color: $color_menu_item_left;
            border-radius: 1px;

        }
    }
   

}

@media screen and (min-width:431px) and (max-width:767px){
    header{
        position: relative;
        .nav{
            display: none;

        }
        .checkstatus--right{
            display: none;
        }
        .icon_align--right{
            position: absolute;
            top: 57px;
            right: 43px; 
            font-size: 2rem;
            background-color: $color_icon_right;
            border-radius:10px ;
            padding: 7px 8px 8px 7px;
        
        }
        .home_icon--left{
            text-decoration: none;
            position: relative;
            top: 56px;
            left: 35px;
            font-size: 1.1rem;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            color: $color_white;
            height: 21px;
            width: 200px;
            flex-shrink: 0;
            font-style: normal;
        }
        .home_icon--left::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 31px;
            width: 80px;
            height:  3px;
            background-color: $color_menu_item_left;
            border-radius: 1px;

        }
    }
   

}

@media screen and (min-width:768px) and (max-width:1114px){
    header{
        position: relative;
        .nav{
            display: none;

        }
        .checkstatus--right{
            display: none;
        }
        .icon_align--right{
            flex-shrink: 0;
            width: 45px;
            height: 45px;
            position: absolute;
            top: 50px;
            right: 50px; 
            font-size: 2rem;
            background-color: $color_icon_right;
            border-radius:10px ;
            padding: 7px 8px 8px 7px;
        
        }
        .home_icon--left{
            text-decoration: none;
            position: relative;
            top: 50px;
            left: 50px;
            font-size: 1.5rem;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            color: $color_white;
            height: 31px;
            width: 200px;
            flex-shrink: 0;
            font-style: normal;
        }
        .home_icon--left::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 31px;
            width: 80px;
            height:  3px;
            background-color: $color_menu_item_left;
            border-radius: 2px;

        }
    }
   

}

@media screen and (min-width:1115px) and (max-width:1439px){
    header{
        position: relative;
        .nav{
            display: none;

        }
        .checkstatus--right{
            display: none;
        }
        .icon_align--right{
            flex-shrink: 0;
            width: 45px;
            height: 45px;
            position: absolute;
            top: 50px;
            right: 50px; 
            font-size: 2rem;
            background-color: $color_icon_right;
            border-radius:10px ;
            padding: 7px 8px 8px 7px;
        
        }
        .home_icon--left{
            text-decoration: none;
            position: relative;
            top: 50px;
            left: 50px;
            font-size: 1.5rem;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            color: $color_white;
            height: 31px;
            width: 200px;
            flex-shrink: 0;
            font-style: normal;
        }
        .home_icon--left::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 31px;
            width: 80px;
            height:  3px;
            background-color: $color_menu_item_left;
            border-radius: 2px;

        }
    }
   

}

@media screen and (min-width:1440px){
    header{
        position: relative;
      

        .icon_align--right{
          display: none;
        }
        .home_icon--left{
            text-decoration: none;
            position: relative;
            top: 50px;
            left: 70px;
            font-size: 2rem;
            font-weight: 700;
            font-style: normal;
            line-height: normal;
            color: $color_white;
            height: 39px;
            width: 251px;
            flex-shrink: 0;
            font-style: normal;
        }
        .home_icon--left::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 44px;
            width: 100px;
            height:  3px;
            background-color: $color_menu_item_left;
            border-radius: 3px;

        }
        .nav{
            position: absolute;
            top: 58px;
            margin-left: 35%;
            margin-right: auto;
            width: fit-content;
            ul{
                 display: inline-flex;
                 align-items: flex-start;
                 gap: 25px;
                 .nav-pk-items{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        font-size: 1.5rem;
                        font-style: initial;
                        font-weight: 500;
                        line-height: normal;
                        color: $color_initial_header;
                        font-style: normal;
                    }
                 }
            }
            
        }
         .nav{
            position: absolute;
            top: 58px;
            margin-left: 35%;
            margin-right: auto;
            width: fit-content;
            ul{
                 display: inline-flex;
                 align-items: flex-start;
                 gap: 25px;
                 
                 .nav_pk_items{
                    position: relative;
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: $color_initial_header;
                        font-style: normal;
                        position: relative;
                        font-family: "Montserrat-Thin";
                    }
                    .nav_items::after{                        
                        font-family: "Montserrat";
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -10px;
                        width: 10px;
                        height:  10px;
                        background-color: $color_menu_item_left;
                        border-radius: 50%;
                        opacity: 0;
                        font-weight: 700;
                    }
                    .nav_items:hover{
                        color: $color_white;

                    }
                    .nav_items:hover::after{
                        opacity: 1;
                    }
                   
                 }
            }
            
        }
        .checkstatus--right{
            position: absolute;
           
            padding: 20px 26px;
            align-items: flex-start;
            gap: 10px;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            top: 41px;
            right: 71px;
            color: $color_menu_item_left;
            border-radius: 20px;
            background-color: $color_background_checkstt;

        }
    }
    
   

}