<div class="intro">
    <p class="intro_line1">Get Vaccinated. Boost your Immune System</p>
    <p class="intro_line2">COVID-19 Vaccination</p>
    <p class="intro_line3">Got Easier With,</p>
    <p class="intro_line4">Vaccination.ng</p>
    <p class="intro_line56">Vaccination.ng will hellp you find the nearest centre for vaccination, in all 36 states in Nigeria.</p>
    <div class="intro_button">
        <button class="intro_button--left">Get Vaccine</button>
        <button class="intro_button--right">Help Centre</button>
    </div>
 </div>